# generic dependencies for e.g. the local dev machine
#AWSIoTPythonSDK == 1.4.7
#paho-mqtt == 1.5.0
pynput == 1.6.6
pandas == 1.0.1
PrettyTable == 0.7.2
tensorflow == 1.15.2
adafruit-circuitpython-motorkit == 1.4
Pillow == 7.0.0
picamera == 1.13
tornado == 4.5.3

#opencv-python >= 4.1

#- adafruit-gpio==1.0.3
#  - adafruit-pca9685==1.0.1
#  - adafruit-pureio==0.2.1
#  - cheroot==5.8.3
#  - docopt==0.6.2
#  - envoy==0.0.3
#  - picamera==1.13
#  - portend==2.1.2
#  - protobuf==3.3.0
#  - pyyaml==3.12
#  - spidev==3.2
#  - tempora==1.8
#  - theano==0.9.0
#  - werkzeug==0.12.2
#  - tensorflow==1.7.0

# Adafruit-Blinka                  4.1.0
# adafruit-circuitpython-busdevice 4.2.1
# adafruit-circuitpython-motor     3.0.0
# adafruit-circuitpython-motorkit  1.4.0
# adafruit-circuitpython-pca9685   3.2.6
# adafruit-circuitpython-register  1.7.4
# Adafruit-PlatformDetect          2.4.0
# Adafruit-PureIO                  1.0.4