# generic dependencies for e.g. the local dev machine
AWSIoTPythonSDK == 1.4.7
paho-mqtt == 1.5.0
pynput == 1.6.6
pandas == 1.0.1
#tensorflow == 1.14.0
# on the PI
adafruit-circuitpython-motorkit >= 1.3
